<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CompanieJocuri" providerName="" connectionString="Server=DESKTOP-C7D60RI\SQLEXPRESS;Initial Catalog=CompanieJocuri;Integrated Security=true;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--
	<appSettings>
		<add key ="SelectStatement" value ="Select * from JocInLucru"/>
		<add key="ParentTableName" value="JocInLucru"/>
		<add key="ChildTableName" value="Echipa"/>
		<add key="pk_parent" value="IDJL=@Parent"/>
		<add key="pk_child" value="IDE=@Child"/>
		<add key="parentKey" value="IDJL"/>
		<add key="textbox_count" value="4"/>
		<add key ="label1" value="IDE"/>
		<add key ="label2" value="NrAngajati"/>
		<add key ="label3" value="IDJ"/>
		<add key ="label4" value="IDD"/>
		<add key="InsertedParametersNames" value ="@IDE,@NrAngajati,@IDJ,@IDD,@IDJL"/>
		<add key="InsertNames" value ="IDE,NrAngajati,IDJ,IDD,IDJL"/>
		<add key="ChildColumnNames" value ="IDE,NrAngajati,IDJ,IDD"/>
		<add key="UpdateColumns" value="IDE = @IDE,NrAngajati = @NrAngajati, IDJ = @IDJ, IDD = @IDD WHERE IDE = @id;"/>
	</appSettings>
-->

	
	<appSettings>
		<add key ="SelectStatement" value ="Select * from Departament"/>
		<add key="ParentTableName" value="Departament"/>
		<add key="ChildTableName" value="Echipa"/>
		<add key="pk_parent" value="IDD=@Parent"/>
		<add key="pk_child" value="IDE=@Child"/>
		<add key="parentKey" value="IDD"/>
		<add key="textbox_count" value="4"/>
		<add key ="label1" value="IDE"/>
		<add key ="label2" value="NrAngajati"/>
		<add key ="label3" value="IDJ"/>
		<add key ="label4" value="IDJL"/>
		<add key="InsertedParametersNames" value ="@IDE,@NrAngajati,@IDJ,@IDD,@IDJL"/>
		<add key="InsertNames" value ="IDE,NrAngajati,IDJ,IDD,IDJL"/>
		<add key="ChildColumnNames" value ="IDE,NrAngajati,IDJ,IDJL"/>
		<add key="UpdateColumns" value="IDE = @IDE,NrAngajati = @NrAngajati, IDJ = @IDJ, IDJL = @IDJL WHERE IDE = @id;"/>
	</appSettings>
	
	
	
</configuration>